<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
</head>
<body>
    <h2>Lista de Usuários</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Perfil</th>
        </tr>
        {% for user in usuarios %}
        <tr>
            <td>{{ user.id_usuario }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.perfil }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('dashboard') }}">Voltar</a>
</body>
</html>
